@model TypicalTechTools.Models.Product

@{
    ViewData["Title"] = "Remove Product";
    bool loggedIn = Context.User.Identity.IsAuthenticated;
    bool isAdmin = Context.User.IsInRole("Admin");
}

@if (loggedIn && isAdmin)
{
    <h1>Remove a Product</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="RemoveProduct" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProductCode" class="control-label"></label>
                    <input asp-for="ProductCode" class="form-control" />
                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Remove Product" class="btn btn-warning" />
                </div>
            </form>
        </div>
    </div>
}
else
{
    <h2>You must be logged in as an admin to remove a product.</h2>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
